body {
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header nav {
    margin-top: 30px;
}

h1 a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

nav {
    margin-top: 10px;
}

nav span {
    margin: 0 15px;
    cursor: pointer;
}

main {
    padding: 20px;
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
}

.AboutMe {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    transition-property: all;
    transition-duration: 0.3s;
}

.AboutMe:hover {
    box-shadow: 10px 10px 10px grey;
    transform: scale(1.02);
}

.AboutMe p {
    text-align: justify
}

.AboutMe img {
    width: 150px;
    height: auto;
    margin-top: 40px; 
    border-radius: 20px;
}


.Education {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    transition: all;
    transition-duration: 0.3s;
}

.Education:hover {
    box-shadow: 10px 10px 10px grey;
    transform: scale(1.02);
}

.Education h2 {
    margin-right: 40px;
    margin-left: 25px;
    font-size: xxx-large;
}

.Education table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    transition: all;
    transition-duration: 0.3s;
}

.Education table:hover {
        transform: scale(1.1);
}

.WorkExperience {
    margin-bottom: 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    transition-property: all;
    transition-duration: 0.3s;
}

.WorkExperience:hover {
    box-shadow: 10px 10px 10px grey;
    transform: scale(1.02);
}

.WorkExperience:hover {
    box-shadow: 10px 10px 10px grey;
    transform: scale(1.02);
}

.WorkExperience ul {
    list-style-type: square;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    transition: all;
    transition-duration: 0.3s;
}

.WorkExperience ul:hover {
    transform: scale(1.1);
}

.Skills {
    margin-bottom: 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    transition-property: all;
    transition-duration: 0.3s;
}

.Skills:hover {
    box-shadow: 10px 10px 10px grey;
    transform: scale(1.02);
}

.Skills ul {
    list-style-type: square;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    transition: all;
    transition-duration: 0.3s;
}

.Skills ul:hover {
    transform: scale(1.1);
}

.Interests {
    margin-bottom: 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    transition-property: all;
    transition-duration: 0.3s;
}

.Interests:hover {
    box-shadow: 10px 10px 10px grey;
    transform: scale(1.02);
}

.Interests ul {
    list-style-type: square;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    transition: all;
    transition-duration: 0.3s;
}

.Interests ul:hover {
    transform: scale(1.1);
}

.footer-style {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: relative;
}

img {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
  .Education {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    margin-right: 30px;
}
.AboutMe {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    transition-property: all;
    transition-duration: 0.3s;
    margin-right: 30px;
}
.WorkExperience {
    margin-bottom: 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    margin-right: 30px;
}
.Skills {
    margin-bottom: 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    margin-right: 30px;
}
.Interests {
    margin-bottom: 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    margin-right: 30px;
}

}