@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background-image: linear-gradient(108.7deg, rgba(221,22,224,1) 11%, rgba(111,22,190,1) 88.2%);
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    position: fixed;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1.5rem 4rem 0 4rem;
    margin: 6rem 0 0 34rem;
}

h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    color: #f019ec;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 18px;
    margin-bottom: 21px;
    color: #6f16be;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #6f16be;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 200px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dd16e0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
button:hover {
    background-color: #b014b8;
    transform: scale(1.1);
}
#result, #attempts {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #6f16be;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    color: aliceblue;
}   

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #dd16e0;
}

@media (max-width: 768px) {
    
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    position: fixed;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    margin: 3rem 0 0 1rem;
}.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    font-size: 0.6rem;
    font-weight: bolder;
}
}